.sub-branches-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .branch-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .branch-title h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .sub-branches {
    display: flex;
    flex-direction: column; /* Display sub-branches below the root branch */
    align-items: center;
  }
  
  .root-branch {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .root-branch h2 {
    font-size: 20px;
  }
  
  .root-branch p {
    font-size: 16px;
  }
  
  .root-branch .lottie-container {
    margin-top: 20px;
  }
  
  .sub-branch-card {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .sub-branch-card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
  }
  .sub-branch-container{
    display: flex;
  }