.sub-branches-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .branch-title {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .branch-title h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .sub-branches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add some gap between the sub-branch cards */
  }
  
  .sub-branch-card {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  }
  
  .card-title {
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Remove underlines from all anchor tags */
  a {
    text-decoration: none;
  }
  
  /* Add any additional styles you need */
  