.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s;

  &.selected-section {
    background-color:  #581845;;
  }

  header {
    text-align: center;
    padding: 40px;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #777;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .root-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #FF5733;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &:hover {
      background-color: #FF8C66;
      transform: scale(1.1);
    }

    .icon-container {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }

    .icon-container > div {
      width: 100%;
      height: 100%;
    }
  }

  .section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .section-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 10px;
      margin: 10px;
      padding: 20px;
      cursor: pointer;
      transition: transform 0.3s, background-color 0.3s;

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      &:hover {
        width: 250px;
        height: 250px;
        transform: scale(1.1);
      }

      &.expanded {
        width: 300px;
        height: 300px;
        transform: scale(1.2);

        p,
        .explore-btn {
          display: block;
        }
      }

      &.selected {
        width: 300px;
        height: 300px;
        transform: scale(1.2);
        background-color: white;
        z-index: 2;

        p,
        .explore-btn {
          display: block;
        }
      }
    }
  }

  /* Add more classes for different section colors */
  .section-color-1 {
    background-color: #FF5733;
  }

  .section-color-2 {
    background-color: #FFC300;
  }

  .section-color-3 {
    background-color: #C70039;
  }

  .section-color-4 {
    background-color: #900C3F;
  }

  .section-color-5 {
    background-color: #581845;
  }

  .section-color-6 {
    background-color: #00796B;
  }
}

